@import 'variables.scss';
@import 'Header/Header.scss';
@import 'rental/rental-listing';
body{
    background-color: #e6e1e1bb !important;
    font-family: ubuntu !important;
}
.apartment{
    color:#a72da3;
}
.house{
    color:#bf1818;
}
.condo{
    color:#d68000;
} 